---
import '@styles/imports.scss'
---

<!doctype html>
<html lang="ja" data-overlayscrollbars-initialize>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/meta/icon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Webgl Scroll Sync</title>
  </head>

  <body data-scrollbar-theme="light">
    <main>
      <slot />
    </main>
  </body>
</html>

<script src="/src/scripts/entry.ts"></script>

<style lang="scss" is:global>
  @use '/src/styles/mixins/media.scss' as *;
  @use '/src/styles/mixins/font.scss';
  @use '/src/styles/functions/color.scss';

  :root {
  }

  html {
    font-size: calc(1000vw / 1440);
    background: color.$dark;
    color: color.$foreground;
    @include font.roboto;
    scroll-behavior: smooth;
  }

  main {
    position: relative;
    overflow: hidden;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
